body{
    
    background-color: #064635;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight:lighter;
    background:url(images/background1.jpeg);
    background-size: cover;
    background-attachment: fixed;

}
.real-body{
    margin: 120px;
    padding: 30px;
    background-color: rgb(250, 206, 102);
    border-radius: 5px;
    display:flex;
    flex-flow:column
    
}

.top-box{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo{
    height: 80px;
    width: auto;


   
    
}
.header{
    color:#064635;
    font-weight: 1000;


}
img{
    height: 325px;
    width: auto;
    border:#064635;
    border-radius: 10px;
}

p {
    background-color:#064635;
    margin-top: 0px;
    border-radius: 3px;
    padding: 20px;
    color: rgb(255, 255, 255);
}

.flex-box{
    
    display:flex;
    gap: 40px;
}
h4{
    background-color: #064635;
    text-align:center;
    color: white;
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.link {
    align-self: center;
    background-color:#064635;
    height: 60px;
    width: 250px;
    border-radius: 5px;
    
   
}
.box1 {
    display: flex;
    flex-flow:column;
    gap: 20px;
    
}
.box2 {
    display: flex;
    flex-flow: column
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 25px;
}
a:hover {
    color: rgb(255, 220, 80);
}
